# System & IDE
venv/
.idea/
__pycache__/
.DS_Store

# Large Data (The cause of your error)
data/
*.zip
*.tar.gz

# Trained Models (Optional: Keep if you want to version them, Remove if they get >100MB)
*.h5
*.pth